aiokafka[lz4]==0.12.0
email-validator==2.2.0
environs==14.1.0
grpcio==1.69.0
grpcio_tools==1.69.0
litestar==2.14.0
passlib==1.7.4
picologging==0.9.3
python-multipart==0.0.20
uvicorn[standard]==0.34.0
