volumes:
  auth_postgres_data:
  auth_redis_data:
  file_postgres_data:
  file_redis_data:
  minio_data:
  kafka_data:
  kafka_secrets:
  loki_data:
  prometheus_data:
  grafana_data:
  certbot_conf:
  certbot_www:


networks:
  nginx:
  backend:
  auth:
  file:
  monitoring:


services:
  nginx:
    image: nginx:1.28.0-alpine
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - certbot_conf:/etc/letsencrypt:ro
      - certbot_www:/var/www/certbot:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - nginx
    depends_on:
      - gateway
    container_name: nginx_prod

  gateway:
    image: ghcr.io/j3rrryy/cloud_storage:gateway-latest
    pull_policy: always
    restart: unless-stopped
    expose:
      - 8000
    env_file:
      - ./.env
    networks:
      - nginx
      - backend
    depends_on:
      - auth
      - file
      - mail
    container_name: gateway_prod

  auth:
    image: ghcr.io/j3rrryy/cloud_storage:auth-latest
    pull_policy: always
    restart: unless-stopped
    expose:
      - 50051
      - 8000
    env_file:
      - ./.env
    networks:
      - backend
      - auth
    depends_on:
      - auth_postgres
      - auth_redis
    container_name: auth_prod

  auth_postgres:
    image: postgres:17.5-alpine
    restart: unless-stopped
    env_file:
      - ./.env
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data/
    networks:
      - auth
    hostname: postgres
    container_name: auth_postgres_prod

  auth_redis:
    image: redis:8.2-alpine
    restart: unless-stopped
    volumes:
      - auth_redis_data:/data/
      - ./redis.conf:/usr/local/etc/redis/redis.conf:ro
    networks:
      - auth
    hostname: redis
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]
    container_name: auth_redis_prod

  file:
    image: ghcr.io/j3rrryy/cloud_storage:file-latest
    pull_policy: always
    restart: unless-stopped
    expose:
      - 50051
      - 8000
    env_file:
      - ./.env
    networks:
      - backend
      - file
    depends_on:
      - minio
      - file_postgres
      - file_redis
    container_name: file_prod

  minio:
    image: minio/minio:RELEASE.2025-07-23T15-54-02Z
    restart: unless-stopped
    expose:
      - 9000
    env_file:
      - ./.env
    environment:
      MINIO_PROMETHEUS_AUTH_TYPE: public
      MINIO_COMPRESSION_ENABLE: on
      MINIO_COMPRESSION_EXTENSIONS: "*"
      MINIO_COMPRESSION_MIME_TYPES: "*"
    volumes:
      - minio_data:/data
    networks:
      - nginx
      - file
      - monitoring
    command: server /data
    container_name: minio_prod

  mc:
    image: minio/mc:RELEASE.2025-07-21T05-28-08Z
    env_file:
      - ./.env
    volumes:
      - ./create_buckets.sh:/create_buckets.sh
    networks:
      - file
    depends_on:
      - minio
    entrypoint: bash ./create_buckets.sh
    container_name: mc_prod

  file_postgres:
    image: postgres:17.5-alpine
    restart: unless-stopped
    env_file:
      - ./.env
    volumes:
      - file_postgres_data:/var/lib/postgresql/data/
    networks:
      - file
    hostname: postgres
    container_name: file_postgres_prod

  file_redis:
    image: redis:8.2-alpine
    restart: unless-stopped
    volumes:
      - file_redis_data:/data/
      - ./redis.conf:/usr/local/etc/redis/redis.conf:ro
    networks:
      - file
    hostname: redis
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]
    container_name: file_redis_prod

  kafka:
    image: confluentinc/cp-kafka:8.0.0
    restart: unless-stopped
    expose:
      - 9092
      - 9093
    environment:
      CLUSTER_ID: c2d43dcfdc15aba0c833dbfc46afe9cb
      KAFKA_NODE_ID: 1
      KAFKA_BROKER_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka_data:/var/lib/kafka/data
      - kafka_secrets:/etc/kafka/secrets
    networks:
      - backend
    container_name: kafka_prod

  mail:
    image: ghcr.io/j3rrryy/cloud_storage:mail-latest
    pull_policy: always
    restart: unless-stopped
    expose:
      - 8000
    env_file:
      - ./.env
    networks:
      - backend
    depends_on:
      - kafka
    container_name: mail_prod

  loki:
    image: grafana/loki:3.5
    restart: unless-stopped
    expose:
      - 3100
    volumes:
      - loki_data:/loki
      - ./loki.yml:/etc/loki/loki.yml:ro
    networks:
      - monitoring
    command: --config.file=/etc/loki/loki.yml --config.expand-env=true
    container_name: loki_prod

  promtail:
    image: grafana/promtail:3.5
    restart: unless-stopped
    volumes:
      - /var/log:/var/log:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./promtail.yml:/etc/promtail/docker-config.yml:ro
    networks:
      - monitoring
    depends_on:
      - loki
    command: --config.file=/etc/promtail/docker-config.yml
    container_name: promtail_prod

  prometheus:
    image: prom/prometheus:v3.5.0
    restart: unless-stopped
    expose:
      - 9090
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - backend
      - monitoring
    command: --config.file=/etc/prometheus/prometheus.yml
    container_name: prometheus_prod

  grafana:
    image: grafana/grafana:12.1.1
    restart: unless-stopped
    expose:
      - 3000
    env_file:
      - ./.env
    environment:
      GF_SERVER_ROOT_URL: "%(protocol)s://%(domain)s/admin/grafana"
      GF_SERVER_SERVE_FROM_SUB_PATH: true
    volumes:
      - grafana_data:/var/lib/grafana
      - ./datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml
    networks:
      - nginx
      - monitoring
    depends_on:
      - loki
      - promtail
      - prometheus
    container_name: grafana_prod
