aiobotocore==2.15.2
alembic==1.14.0
asyncpg==0.30.0
cashews==7.4.0
environs==11.2.1
grpcio==1.68.0
grpc-accesslog==0.3.0
grpcio_tools==1.68.0
picologging==0.9.3
redis==5.2.0
sqlalchemy==2.0.36
uvloop==0.21.0
