aiobotocore==2.20.0
alembic==1.14.0
asyncpg==0.30.0
cashews==7.4.0
environs==14.1.0
grpc-accesslog==0.3.0
grpcio==1.69.0
grpcio_tools==1.69.0
picologging==0.9.3
py-async-grpc-prometheus==0.2.0
redis==5.2.1
sqlalchemy==2.0.37
types-aiobotocore[s3] == 2.20.0
uvicorn[standard]==0.34.0
