name: Lint, Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Run Ruff linting
        uses: astral-sh/ruff-action@v1.1.1
        with:
          args: "check --fix --exclude **/proto"

      - name: Run Ruff formatting
        uses: astral-sh/ruff-action@v1.1.1
        with:
          args: "format --exclude **/proto"

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5.0.1
        with:
          commit_message: "ruff: fix and apply formatting"

  test:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        service: [gateway, auth, file, mail]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Build Docker image
        run: docker build -t ${{ matrix.service }}:test -f ./src/${{ matrix.service }}/Dockerfile ./src/${{ matrix.service }}

      - name: Run ${{ matrix.service }} tests
        run: |
          docker compose -f ./docker-compose.test.yml up --abort-on-container-exit --exit-code-from ${{ matrix.service }} ${{ matrix.service }}
          docker cp ${{ matrix.service }}_test:./src/${{ matrix.service }}/coverage.xml ./coverage_${{ matrix.service }}.xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.0.7
        with:
          verbose: true
          fail_ci_if_error: true
          name: ${{ matrix.service }}
          flags: ${{ matrix.service }}
          slug: ${{ github.repository }}
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage_${{ matrix.service }}.xml
